/* Element Chalk Variables */
@use "sass:math";
@use "sass:map";

// we can add this to custom namespace, default is 'el'
@forward "element-plus/theme-chalk/src/mixins/config.scss" with (
  $namespace: "vvea"
);
@use "element-plus/theme-chalk/src/mixins/function.scss" as *;


$--colors: (
  "primary": (
    "base": rgba(22, 12, 216, 1),
  ),
  "success": (
    "base": rgba(103, 194, 58, 1),
  ),
  "warning": (
    "base": rgba(230, 162, 60, 1),
  ),
  "danger": (
    "base": rgba(245, 108, 108, 1),
  ),
  "error": (
    "base": rgba(245, 108, 108, 1),
  ),
  "info": (
    "base": rgba(144, 147, 153, 1),
  ),
);

$custom-menu-bg-color: #001529;
$custom-menu-hover-bg-color: #002fa780;

$--menu: (
  "active-color": #ffffff,
  "text-color": #c8c7c5,
  "hover-text-color": #ffffff,
  "bg-color": $custom-menu-bg-color,
  "hover-bg-color": $custom-menu-hover-bg-color,
  "item-height": 56px,
  "sub-item-height": calc(#{getCssVar("menu-item-height")} - 6px),
  "horizontal-sub-item-height": 36px,
  "item-font-size": getCssVar("font-size-base"),
  "item-hover-fill": getCssVar("color-primary-light-9"),
  "border-color": getCssVar("border-color"),
  "base-level-padding": 20px,
  "level-padding": 20px,
  "icon-width": 24px,
  "icon-transform-closed": "none",
  "icon-transform-open": "rotateZ(180deg)",
);

// You should use them in scss, because we calculate it by sass.
// comment next lines to use default color
@forward "element-plus/theme-chalk/src/common/var.scss" with (
  // do not use same name, it will override.
  $colors: $--colors,
  $menu: $--menu,
  $button-padding-horizontal: ("default": 50px)
);

// if you want to import all
// @use "element-plus/theme-chalk/src/index.scss" as *;

// You can comment it to hide debug info.
// @debug $--colors;

// import dark theme
@use "element-plus/theme-chalk/src/dark/css-vars.scss" as *;

// import nprogress
@use "nprogress/nprogress.css" as *;
